.small-font {
  font-size: 12px;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

div.small-container {
  max-width: 400px;
  margin: auto;
}

.popup-content {
  border-radius: 10px;
  border: 2px solid black;
}

.table-active {
  --bs-table-bg-state: yellow;
}

p {
  margin: 0;
}
